<form class="form-horizontal" [formGroup]="paymentForm">
    <div class="form-group">
      <label>Payment Type:</label>
      
      <select class="form-control" formControlName="paymentType">
        <option>Cash</option>
        <option>Credit Card</option>
      </select>
      
      <div *ngIf="paymentType.invalid 
                && (paymentType.dirty 
                || paymentType.touched)" class="alert alert-danger">Payment Type is required.
      </div>
    </div>

    <div class="form-group">
      <label>Card Type:</label>
      <select class="form-control" formControlName="cardType">
        <option>Visa</option>
        <option>Master Card</option>
      </select>
      
      <div *ngIf="cardType.invalid 
                && (cardType.dirty 
                || cardType.touched)" class="alert alert-danger">Card Type is required.
      </div>
    </div>

    <div class="form-group">
      <label>Name on Card:</label>
      <input type="text" class="form-control" placeholder="Enter Name on Card" formControlName="nameOnCard">        
    
      <div *ngIf="nameOnCard.invalid 
            && (nameOnCard.dirty 
            || nameOnCard.touched)" class="alert alert-danger">Name on Card is required.
      </div>
    </div>

    <div class="form-group">
      <label>Card No:</label>
      <input type="text" class="form-control" placeholder="Enter Card No" formControlName="cardNo">        
    
      <div *ngIf="cardNo.invalid 
            && (cardNo.dirty 
            || cardNo.touched)" class="alert alert-danger">Card No is required.
      </div>
    </div>

    <div class="form-group">
      <label>Card Expiration:</label>
      
      <div class="input-group">
        <select class="form-control" formControlName="cardExpMonth">
          <option>January</option>
          <option>February</option>
        </select>
        <div *ngIf="cardExpMonth.invalid 
                  && (cardExpMonth.dirty 
                  || cardExpMonth.touched)" class="alert alert-danger">Card Expiration Month is required.
        </div>
        <select class="form-control" formControlName="cardExpDay">
          <option>01</option>
          <option>02</option>
        </select>
        <div *ngIf="cardExpDay.invalid 
                  && (cardExpDay.dirty 
                  || cardExpDay.touched)" class="alert alert-danger">Card Expiration Day is required.
        </div>
        <select class="form-control" formControlName="cardExpYear">
          <option>2018</option>
          <option>2019</option>
        </select>
        <div *ngIf="cardExpYear.invalid 
                  && (cardExpYear.dirty 
                  || cardExpYear.touched)" class="alert alert-danger">Card Expiration Year is required.
        </div>
      </div>
      
    </div>

    <div class="form-group">
      <label>Card CVV:</label>
      <input type="text" class="form-control" placeholder="Enter Card CVV" formControlName="cardCvv">        
    
      <div *ngIf="cardCvv.invalid 
            && (cardCvv.dirty 
            || cardCvv.touched)" class="alert alert-danger">Card CVV is required.
      </div>
    </div>

    <button type="button" (click)="save()" class="btn btn-success">Save & Next</button>
  </form>
