<div class="card">
  <div class="card-header">
      
      <div class="row">
        <div class="col-md-6">
            <span>Products</span>
        </div>
        <div class="col-md-6">
            <input placeholder="Search..." class="form-control" [formControl]="search">
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="text-center">
        <p class="lead" *ngIf="loading">Loading...</p>
      </div>
      <div class="text-center" *ngIf="productLists.length==0">
          <p>No record found! Are you kidding me? =)</p>
      </div>
      <ul>
        <li *ngFor="let product of productLists">
          <div class="card">
              <img class="card-img-top" src="{{ product.imgUrl }}">
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">Price: {{ product.price | currency:'USD':'code' }}</p>
              </div>
              <div class="card-body">
                  <button type="button" class="btn btn-success" (click)="cartService.add(product, 1)">Add to Cart</button>
              </div>
            </div>
        </li>
      </ul>
        
    </div>
</div>